<div class="contents detail">
  <p>--------------------------------------------------------------</p>
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://livedoor.blogimg.jp/tomov808/imgs/9/d/9de53650.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">よろしくお願いします<i class="material-icons right"></i></span>
      <p><a href="#">面白い言葉をお待ちしております。</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Thank you for preparing.<i class="material-icons right"></i></span>
    </div>
  </div>
</div class="contents detail">
<div class="contents row">
  <div class="container">
  <%= form_with url:"/tweets", method: :post, local: true do |f| %>
    <h3>
      starting to submit
    </h3>
    <%= f.text_field :image, :placeholder=> "Image URL" %>
    <%= f.text_area :text, class: "tweet", size: "30*10", :placeholder=>"text" %>
    <%= f.submit 'submit' %>
  <% end %>
  </div>
</div>
