<div class="contents detail">
  <p>--------------------------------------------------------------</p>
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://livedoor.blogimg.jp/tomov808/imgs/9/d/9de53650.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">ありがとうございました<i class="material-icons right"></i></span>
      <p><a href="#">またよろしくお願いします。</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Thank you for updating.<i class="material-icons right"></i></span>
    </div>
  </div>
</div class="contents detail">
<div class="contents row">
  <div class="success">
    <h3>
      success updating
    </h3>
    <a class="btn" href="/">return to index</a>
   </div>
</div>
